fastapi
fastapi[standard]
uvicorn
pydantic
openai
langchain
langgraph
langchain-community
langchain-chroma
langchain-unstructured
langchain-core
langchain-openai
langfuse
tiktoken
chromadb
instructor
marvin
unstructured
python-dotenv
